.todos-single {
  display: flex;
  width: 29.5%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470");
}
.todos-single-text {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}
.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .todos-single {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .todos-single {
    width: 40%;
  }
}
